services:
  recursosbackendadoptmemain:
    image: recursosbackendadoptmemain
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - NODE_ENV=production
